.container{

display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 100px;
border: 1px solid #6055ff

}

.container div{
    min-width: 100px;
    
    border: 1px solid #ff5555;

}

.flex1{
order: 2;
}